html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}

.searchBar {
    /*width: 100%;
            height: 100%;*/
    display: flex;
    flex-direction: row;
    z-index: 1;
    position: absolute;
}

#mapArea {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}

.sideBar {
    width: 360px;
    height: 850px;
    margin: 15px 0 15px 15px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    transition-duration: .5s;
}

.sideBarBtn {
    width: auto;
    height: 100%;
    margin-top: 15px;
    margin-left: -1px;
    display: flex;
}

    .sideBarBtn input[type="button"] {
        width: 50px;
        height: 50px;
        color: white;
        font-size: 15px;
        font-weight: bold;
        outline: none;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        background-color: rgba(0, 185, 241, 0.8);
        transition-duration: .5s;
    }

        .sideBarBtn input[type="button"]:hover {
            transition-duration: .5s;
            background-color: rgba(0, 185, 241, 1);
        }

.sideBarHome {
    width: auto;
    height: 100%;
    margin-top: 15px;
    margin-left: 15px;
    display: flex;
}

    .sideBarHome button {
        width: auto;
        height: 50px;
        font-size: 18px;
        padding: 0 10px;
        font-family: 'Mansalva', cursive;
        outline: none;
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        color: white;
        background-color: rgba(0, 185, 241, 0.8);
        transition-duration: .5s;
    }

        .sideBarHome button:hover {
            transition-duration: .5s;
            background-color: rgba(0, 185, 241, 1);
        }

    .sideBarHome .homeBtn {
        width: auto;
        height: 50px;
        font-size: 18px;
        padding: 0 10px;
        font-family: 'Mansalva', cursive;
        outline: none;
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        color: white;
        background-color: rgba(0, 185, 241, 0.8);
        transition-duration: .5s;
    }

        .sideBarHome .homeBtn:hover {
            transition-duration: .5s;
            background-color: rgba(0, 185, 241, 1);
        }

.header {
    width: 100%;
    height: 50px;
    border-top-left-radius: 4px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transition-duration: .5s;
}

.iconBtnArea {
    width: 15%;
}

    .iconBtnArea button {
        width: 100%;
        height: 100%;
        font-size: 13px;
        color: rgba(0, 0, 0, 0.7);
        border: none;
        outline: none;
        cursor: pointer;
        background-color: transparent;
    }

.inputArea {
    width: 85%;
}

    .inputArea input {
        width: 100%;
        height: 100%;
        padding: 10px;
        color: rgba(0, 0, 0, 0.7);
        border: none;
        outline: none;
    }

.contents {
    transition-duration: .5s;
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
}

.contentsArea {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.orderArea {
    transition-duration: .5s;
    width: 100%;
    height: auto;
    padding: 15px 10px 0px;
}

.orderRadio {
    width: 100%;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.orderRadioItem {
    width: auto;
    height: auto;
    padding: 0 10px;
    font-size: 15px;
    font-weight: 300;
}

    .orderRadioItem input[type="radio"] {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }

        .orderRadioItem input[type="radio"] + label {
            display: inline-block;
            position: relative;
            padding-left: 23px;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
        }

            .orderRadioItem input[type="radio"] + label:before {
                content: '';
                position: absolute;
                left: 0;
                top: 2px;
                width: 17px;
                height: 17px;
                text-align: center;
                background: #fff;
                border: 1px solid #cacece;
                border-radius: 100%;
            }

        .orderRadioItem input[type="radio"]:checked + label:before {
            background: #fff;
            border-color: #adb8c0;
        }

        .orderRadioItem input[type="radio"]:checked + label:after {
            content: '';
            position: absolute;
            top: 2px;
            left: 0px;
            width: 17px;
            height: 17px;
            border: 5px solid deepskyblue;
            background-color: transparent;
            border-radius: 100%;
        }

.orTxt {
    font-size: 15px;
    font-weight: bold;
    padding: 8px 10px;
    color: rgba(0, 0, 0, 0.7);
}

.boardArea {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    word-spacing: -2px;
}

.boardAlign {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    overflow: auto;
}

.boardItem {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.article1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.boardImage {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boardImageItem {
    width: 300px;
    height: 190px;
    border-radius: 5px;
}

.boardContent {
    width: 100%;
    height: 100%;
    padding: 5px 10px 0;
}

    .boardContent > a {
        transition-duration: .5s;
        text-decoration: none;
    }

.boardTitle {
    transition-duration: .2s;
    color: black;
    width: 100%;
    font-size: 15px;
    font-weight: 700;
}

.boardBody {
    width: 100%;
    height: 30px;
    overflow: auto;
    color: rgba(0, 0, 0, 0.5);
    font-size: 13px;
}

.article2 {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
}

.boardUser {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.userImageItem {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.boardUserId {
    font-size: 15px;
    font-weight: 300;
    padding: 0px 10px;
}

    .boardUserId > a {
        color: black;
        text-decoration: none;
    }

.boardUserTime {
    font-size: 13px;
}

.boardScore {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14.5px;
}

    .boardScore > .Score1 {
        font-size: 18px;
        color: darkorange;
    }

    .boardScore > .Score2 {
        font-size: 16px;
        color: orange;
    }

    .boardScore > .Score3 {
        display: inline-block;
        padding-top: 3px;
        font-size: 15px;
    }

.footer {
    width: 100%;
    padding: 15px 0;
    transition-duration: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination > a {
    width: auto;
    height: auto;
    color: black;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
}

    .pagination > a > li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        padding: 0 10px;
    }

        .pagination > a > li:hover {
            background-color: rgba(0, 0, 0, 0.08);
        }

.modal {
    border: 2px solid red;
}

.modal-dialog {
    width: 100%;
    display: flex;
    flex-direction: row;
    z-index: 9999;
}

.modal-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #eee;
}

.modal-data {
    display: flex;
    flex-direction: column;
}

.modal-title-align {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.modal-title-align2 {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.modal-title {
    width: 740px;
    cursor: default;
    font-size: 28px;
    font-weight: 700;
}

.modal-close {
    display: inline-block;
    margin-top: -10px;
    outline: none;
}

.modal-time {
    height: auto;
    font-size: 17px;
    cursor: default;
    color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.modal-report {
    padding-left: 7px;
}

    .modal-report a {
        font-size: 13px;
        color: firebrick;
        text-decoration: none;
        transition-duration: .5s;
    }

        .modal-report a:hover {
            color: red;
            transition-duration: .5s;
        }

.modal-user {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.modal-user-image a > img {
    width: 35px;
    height: 35px;
    border-radius: 100%;
}

.modal-user-id {
    height: 100%;
    display: flex;
    padding-right: 10px;
}

    .modal-user-id > a > span {
        display: inline-block;
        color: rgba(0, 0, 0, 0.8);
        padding-left: 5px;
        font-size: 20px;
        font-weight: 400;
    }

.modal-score {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

    .modal-score .star {
        cursor: default;
        font-size: 19px;
        color: darkorange;
    }

    .modal-score .score {
        cursor: default;
        font-size: 15px;
        font-weight: 400;
        display: inline-block;
        padding-left: 5px;
        padding-top: 5px;
    }

.modal-body {
    height: 500px;
    overflow: auto;
}

.modal-footer {
    padding: 0;
    height: 600px;
}

.footerContents {
    width: 100%;
    height: 100%;
}

.footerReadReply {
    width: 100%;
    height: 300px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    overflow: auto;
}

.replyHeader {
    width: 100%;
    height: 15%;
    background-color: #eee;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.replyTxt {
    display: inline-block;
    padding-right: 5px;
    font-weight: 500;
}

.replyAmt {
    display: inline-block;
    font-size: 20px;
    color: darkorange;
}

.replyContent {
    width: 100%;
    padding-right: 15px;
}

.replyItem {
    height: 140px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.replyAlign {
    width: 100%;
    height: 100%;
}

.replyUser {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.replyImage {
    width: auto;
    height: auto;
    padding-right: 5px;
}

.replyImageItem {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.replyId {
    width: auto;
    height: auto;
    padding-right: 5px;
}

    .replyId a {
        font-size: 18px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.85);
        text-decoration: none;
    }

.replyTime {
    cursor: default;
    display: inline-block;
    padding-top: 1px;
    padding-right: 15px;
}

    .replyTime span {
        font-size: 13px;
    }

.replyScore {
    width: auto;
    height: auto;
    cursor: default;
    display: inline-block;
    padding-bottom: 1px;
    padding-right: 15px;
}

.replyBody {
    padding: 10px 5px;
    font-size: 14px;
    font-weight: 350;
}

.replyScore .replyStar {
    font-size: 15px;
    color: darkorange;
}

.replyScore .replyText {
    font-size: 15px;
}

.replyCancle {
    width: 40px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .replyCancle button {
        width: auto;
        height: auto;
        font-size: 11px;
        display: inline-block;
        margin-top: 3px;
    }

.footerWriteReply {
    height: 300px;
    padding: 10px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.footerWriteArea {
    width: 100%;
    height: 100%;
}

.footerInputArea {
    padding: 5px 5px 0;
}

    .footerInputArea > textarea {
        width: 100%;
        height: 130px;
        outline: none;
        resize: none;
        color: rgba(0, 0, 0, 0.7);
        font-size: 18px;
        padding: 10px;
    }

.inputScore {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.scoreText {
    font-weight: 300;
    padding: 0 10px;
}

.scoreSelect select {
    width: 100px;
    height: 30px;
    outline: none;
    cursor: pointer;
    font-size: 13px;
}

.inputBtn {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 5px;
}

.inputBtnItem {
    width: 100px;
    height: 50px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 140, 0, 0.8);
    font-size: 13px;
    transition-duration: .5s;
}

    .inputBtnItem:hover {
        transition-duration: .5s;
        color: rgba(0, 0, 0, 1);
        background-color: rgba(255, 140, 0, 1);
    }

.modal-cost {
    top: 0;
    margin-top: 28px;
    padding-right: 127px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: fixed;
}

.modal-cost-area {
    width: 300px;
    height: 700px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    background-color: #eee;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.cost-header {
    cursor: default;
    width: 100%;
    height: 80px;
    padding: 10px;
    background-color: #e2e2e2;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

    .cost-header .chTitle {
        font-size: 23px;
        font-weight: 700;
    }

    .cost-header .chBody {
        font-size: 15px;
    }

.cost-body {
    width: 100%;
    height: 100%px;
    padding: 0px 10px 10px;
    overflow: auto;
}

.costItem {
    cursor: default;
    padding: 10px 0 5px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.costItem-header span {
    font-size: 40px;
    font-family: 'East Sea Dokdo', cursive;
}

.costItem-body ul {
    padding: 0 5px 0 20px;
    list-style-type: circle;
}

.costItem-body li {
    font-size: 12px;
}

#reportContent {
    width: 300px;
    margin-top: 200px;
    background-color: #eee;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.reportHeader {
    width: 100%;
    height: 50px;
    display: flex;
    cursor: default;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #282c37;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

    .reportHeader span {
        font-size: 15px;
        font-weight: 300;
    }

.reportBody {
    width: 100%;
    height: 200px;
    background-color: #9baec8;
}

.reportBodyItem1 {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

    .reportBodyItem1 span {
        font-size: 13px;
    }

.reportBodyItem2 {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

    .reportBodyItem2 textarea {
        width: 250px;
        height: 130px;
        font-size: 13px;
        padding: 10px;
        outline: none;
        resize: none;
        color: rgba(0, 0, 0, 0.7);
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: #d9e1e8;
    }

.reportFooter {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.reportFooterItem1 {
    padding: 10px 5px 10px 10px;
}

.reportFooterItem2 {
    padding: 10px 10px 10px 5px;
}

.reportFooterItem1 button {
    width: 70px;
    height: 30px;
    color: #fff;
    outline: none;
    font-size: 12px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    background-color: #2b90d9;
}

.reportFooterItem2 button {
    width: 70px;
    height: 30px;
    color: #fff;
    outline: none;
    font-size: 12px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    background-color: #ff5f2e;
}
