html,body,form {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}

.searchBar {
    /*width: 100%;
            height: 100%;*/
    display: flex;
    flex-direction: row;
    z-index: 1;
    position: absolute;
}

#mapArea {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}

.sideBar {
    width: 360px;
    height: 850px;
    margin: 15px 0 15px 15px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    transition-duration: .5s;
}

.sideBar a{
    text-decoration: none;
}

.sideBar a:hover{
    color: initial;
    text-decoration: none;
}

.sideBarBtn {
    width: auto;
    height: 100%;
    margin-top: 15px;
    margin-left: -1px;
    display: flex;
}

    .sideBarBtn input[type="button"] {
        width: 50px;
        height: 50px;
        color: white;
        font-size: 15px;
        font-weight: bold;
        outline: none;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        background-color: rgba(0, 185, 241, 0.8);
        transition-duration: .5s;
    }

        .sideBarBtn input[type="button"]:hover {
            transition-duration: .5s;
            background-color: rgba(0, 185, 241, 1);
        }

.sideBarHome {
    width: auto;
    height: 100%;
    margin-top: 15px;
    margin-left: 15px;
    display: flex;
}

    .sideBarHome button {
        width: auto;
        height: 50px;
        font-size: 18px;
        padding: 0 10px;
        font-family: 'Mansalva', cursive;
        outline: none;
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        color: white;
        background-color: rgba(0, 185, 241, 0.8);
        transition-duration: .5s;
    }

        .sideBarHome button:hover {
            transition-duration: .5s;
            background-color: rgba(0, 185, 241, 1);
        }

    .sideBarHome .homeBtn {
        width: auto;
        height: 50px;
        font-size: 18px;
        padding: 0 10px;
        font-family: 'Mansalva', cursive;
        outline: none;
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        color: white;
        background-color: rgba(0, 185, 241, 0.8);
        transition-duration: .5s;
    }

        .sideBarHome .homeBtn:hover {
            transition-duration: .5s;
            background-color: rgba(0, 185, 241, 1);
        }

.header {
    width: 100%;
    height: 50px;
    border-top-left-radius: 4px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transition-duration: .5s;
}

.iconBtnArea {
    width: 15%;
    border-top-left-radius: 4px;
}

    .iconBtnArea .iconBtnAreaItem {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        cursor: pointer;
        border-top-left-radius: 4px;
        background-color: #fff;
    }

.inputArea {
    width: 85%;
}

    .inputArea .inputAreaItem {
        width: 100%;
        height: 100%;
        padding: 10px;
        color: rgba(0, 0, 0, 0.7);
        border: none;
        outline: none;
        font-size: 15px;
        font-family: 'Noto Sans KR', sans-serif;
    }

.contents {
    transition-duration: .5s;
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
}

.contentsArea {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.orderArea {
    transition-duration: .5s;
    width: 100%;
    height: auto;
    padding: 15px 10px 0px;
}

.orderRadio {
    width: 100%;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.orderRadioItem {
    width: auto;
    height: auto;
    padding: 0 10px;
    font-size: 15px;
    font-weight: 300;
}

    .orderRadioItem input[type="radio"] {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }

        .orderRadioItem input[type="radio"] + label {
            display: inline-block;
            position: relative;
            padding-left: 23px;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
        }

            .orderRadioItem input[type="radio"] + label:before {
                content: '';
                position: absolute;
                left: 0;
                top: 2px;
                width: 17px;
                height: 17px;
                text-align: center;
                background: #fff;
                border: 1px solid #cacece;
                border-radius: 100%;
            }

        .orderRadioItem input[type="radio"]:checked + label:before {
            background: #fff;
            border-color: #adb8c0;
        }

        .orderRadioItem input[type="radio"]:checked + label:after {
            content: '';
            position: absolute;
            top: 2px;
            left: 0px;
            width: 17px;
            height: 17px;
            border: 5px solid deepskyblue;
            background-color: transparent;
            border-radius: 100%;
        }

.orTxt {
    font-size: 15px;
    font-weight: bold;
    padding: 8px 10px;
    color: rgba(0, 0, 0, 0.7);
}

.boardArea {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    word-spacing: -2px;
}

.boardAlign {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    overflow: auto;
}

.boardItem {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.article1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.boardImage {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;.
}

.boardImageItem {
    width: 305px;
    height: 190px;
    margin-right: 13px;
    border-radius: 5px;
    object-fit: cover;
}

.boardContent {
    width: 100%;
    height: 100%;
    padding: 5px 10px 0;
    overflow: hidden;
}

    .boardContent a {
        transition-duration: .5s;
        text-decoration: none;
    }

    .boardContent a:hover{
        text-decoration: none;
    }

.boardTitle {
    transition-duration: .2s;
    color: black;
    width: 100%;
    font-size: 15px;
    font-weight: 700;
}

.boardBody {
    width: 100%;
    height: 30px;
    overflow: auto;
    color: rgba(0, 0, 0, 0.5);
    font-size: 13px;
}

.article2 {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
}

.boardUser {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.userImageItem {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.boardUserId {
    font-size: 15px;
    font-weight: 300;
    padding: 0px 30px 0px 10px;
}

    .boardUserId > a {
        color: black;
        text-decoration: none;
    }

.boardUserTime {
    font-size: 13px;
}

.boardScore {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 14.5px;
}

    .boardScore > .Score1 {
        font-size: 18px;
        color: darkorange;
    }

    .boardScore > .Score2 {
        font-size: 16px;
        color: orange;
    }

    .boardScore > .Score3 {
        display: inline-block;
        padding-top: 3px;
        font-size: 15px;
    }

.footer {
    width: 100%;
    padding: 15px 0;
    transition-duration: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination > a {
    width: auto;
    height: auto;
    color: black;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
}

    .pagination > a > li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        padding: 0 10px;
    }

        .pagination > a > li:hover {
            background-color: rgba(0, 0, 0, 0.08);
        }

.pageActive{
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, .08);
}



/* 커스텀 오버레이 스타일 */
.card-cus {
    width: 300px;
    border: none;
    outline: none;
    display: flex;
    flex-direction: column;
    border: .5px solid rgba(0, 0, 0, .3);
    background-color: #eee;
}

.card-header {
    width: 100%;
    height: 50px;
    padding: 0;
    display: flex;
    flex-direction: row;
    background-color: #eee;
    font-family: 'Noto Sans KR', sans-serif;
}

.card-title {
    width: 90%;
    height: 100%;
    display: flex;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    color: #000;
    font-family: 'Noto Sans KR', sans-serif;
}

.card-input {
    width: 95%;
    height: 80%;
    padding: 10px;
    outline: none;
}

.card-close {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .card-close .closeBtn {
        color: #000;
        font-size: 25px;
        padding-bottom: 25px;
    }

.closeBtn span {
    cursor: pointer;
    color: black;
}

.card-body {
    width: 100%;
    height: 100%;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
    text-align: center;
    font-size: 18px;
    overflow: auto;
}

.card-body-li {
    font-size: 15px;
    padding: 3px 0;
    margin: 0;
    list-style: none;
}

.card-addBtn {
    width: 80px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .2rem;
    font-size: .875rem;
    cursor: pointer;
    background-color: orange;
    transition-duration: .9s;
}

    .card-addBtn:hover {
        transition-duration: .9s;
        background-color: darkorange;
    }